html,body,.app {
    height: 100vh;
    background-color: #eee;
    padding: 1em;
}
span.error {
    color:red;
    text-align: left;
    display:block;
}

.menu {
    padding-bottom: 2em;
}

.messages {
    height: 440px;
    overflow-y: scroll;
}

.messages__form {
    position: fixed;
    bottom: 1em;
    margin-left: 320px;
    left:0;
    right:1em;
    z-index: 200;
}

.message__self {
    padding-left: 8px;
    border-left: 2px solid orange;
}

.message_image {
    padding:1rem;
}